.ietvars {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(124, 215, 243);
}

h1 {
    text-align: center;
    background: rgb(103, 197, 226);
    color: rgb(23, 38, 105);
}

ul {
    text-align: center;
    padding: 0px;
}
 li {
    display: inline-block;
 }

.speles_lauk {
    width: 500px;
    background: cornflowerblue;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.bloks {
    display: inline-block;
    background: rgb(64, 48, 151);
    width: 100px;
    height: 100px;
    margin: 5px;
    font-size: 45px;
}

a {
    background-color: rgb(46, 9, 180);
    color: white;
    padding: 10px 17px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px rgb(115, 17, 180)
  }

  a:hover {
    background-color: rgb(115, 17, 180);
  }
  a:active {
    background-color: rgb(86, 51, 245);
    color:rgb(124, 215, 243)
  }